@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/* Added Elements */
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a, button {
  color: rgba(22, 21, 21, 0.705);
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 0 16px;
}

button {
  padding: 10px;
}

.header,
.footer {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.left-links,
.right-links {
  display: flex;
}

.footer {
  background-color: #eee;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  gap: 5px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.input {
  display: flex;
  justify-content: center;
  align-content: center;
}